<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junipertech.kickback" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Kickback_List"
            android:label="@string/title_activity_kickback__list" >
        </activity>
        <activity
            android:name=".Kickback_Schedule"
            android:label="@string/title_activity_kickback__schedule" >
        </activity>
    </application>

</manifest>
