<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bramble.kickback" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/temp_icon"
        android:label="@string/title_activity_home"
        android:theme="@style/MyTheme" >

        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/CustomNoBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AccountPortal"
            android:label="@string/title_activity_account_portal"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.Login"
            android:label="Login"
            android:theme="@style/CustomNoBar"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activities.SignUpCredentials"
            android:label="SignUpCredentials"
            android:theme="@style/CustomNoBar"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activities.SignUpBiographical"
            android:label="SignUpBiographical"
            android:theme="@style/CustomNoBar"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activities.Main"
            android:label="Main"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.AddFriendsSearch"
            android:label="Search"
            android:theme="@style/CustomNoBar"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".activities.AddFriendsContacts"
            android:label="Add From Contacts"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.AddFriendsRequests"
            android:label="Friend Requests"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.Settings"
            android:label="Settings"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.MyAccount"
            android:label="My Account"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.NotificationSettings"
            android:label="My Account"
            android:theme="@style/CustomNoBar"/>

        <activity
            android:name=".activities.AdvancedSettings"
            android:label="My Account"
            android:theme="@style/CustomNoBar"/>

        <receiver
            android:name=".receivers.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3d19a1db0b2453ce8f5c955d15c998eacbab7ba3" />
    </application>

</manifest>
