<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junipertech.kickback" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_activity_home"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".activities.Home"
            android:label="@string/Kickback" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.KickbacksList"
            android:label="@string/title_activity_kickback_list"
            android:parentActivityName=".activities.Home" >
        </activity>
        <activity
            android:name=".activities.KickbacksSchedule"
            android:label="@string/title_activity_kickback_schedule"
            android:parentActivityName=".activities.Home" >
        </activity>
        <activity
            android:name=".activities.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.Home" >
        </activity>
        <activity
            android:name=".activities.AccountSettings"
            android:label="@string/title_activity_account_settings"
            android:parentActivityName=".activities.Settings" >
        </activity>
        <activity
            android:name=".activities.PrivacySettings"
            android:label="@string/title_activity_privacy_settings"
            android:parentActivityName=".activities.Settings" >
        </activity>
        <activity
            android:name=".activities.AdvancedSettings"
            android:label="@string/title_activity_advanced_settings"
            android:parentActivityName=".activities.Settings" >
        </activity>
        <activity
            android:name=".activities.MoreInformation"
            android:label="@string/title_activity_more_information"
            android:parentActivityName=".activities.Settings" >
        </activity>
        <activity
            android:name=".activities.NotificationSettings"
            android:label="@string/title_activity_notification_settings"
            android:parentActivityName=".activities.AdvancedSettings" >
        </activity>
        <activity
            android:name=".activities.MyFriends"
            android:label="@string/title_activity_my_friends"
            android:parentActivityName=".activities.Home" >
        </activity>
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
>
        </activity>
        <activity
            android:name=".activities.TermsOfService"
            android:label="@string/title_activity_terms_of_service"
            android:parentActivityName=".activities.MoreInformation">
        </activity>
        <activity
            android:name=".activities.PrivacyPolicy"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".activities.MoreInformation">
        </activity>
    </application>

</manifest>
